.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.page{
  min-height: 78vh;
}
.text-xs-center{
  text-align: center;
}
@media (min-width: 768px){
  .offset-md-3{
    margin-left: 25%;
  }
}
.app-main {
  min-height: calc(100vh - 112px)
}